version: 2.1

jobs:
  test:
    docker:
      - image: python:3.11-slim
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apt-get update
            apt-get install -y gcc g++
            pip install -r requirements.txt
      - run:
          name: Run tests
          command: |
            pytest tests/ -v --cov=. --cov-report=xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: htmlcov

workflows:
  version: 2
  test:
    jobs:
      - test
